In [1]:
import pandas as pd

In [2]:
excel_file = pd.ExcelFile('eurostat.xlsx')

C:\Users\DataLeticia\miniconda3\envs\ironhack\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
sheet_names = excel_file.sheet_names
dfs={}
for sheet_name in sheet_names:
    df=excel_file.parse(sheet_name)
    dfs[sheet_name]=df

In [4]:
df_packaging = dfs['Sheet 1']
df_sheet2 = dfs['Sheet 2']
df_sheet1 = dfs['Sheet 3']
df_sheet2 = dfs['Sheet 4']
df_sheet1 = dfs['Sheet 5']
df_sheet2 = dfs['Sheet 6']

In [5]:
rename_names = df_packaging.iloc[7].tolist()
df_packaging.columns = rename_names

In [6]:
df_packaging.drop(range(0, 9), axis=0, inplace=True)

In [7]:
df_packaging.head()

,TIME,2009,NaN,2010,NaN,2011,NaN,2012,NaN,2013,...,2016,NaN,2017,NaN,2018,NaN,2019,NaN,2020,NaN
9,European Union - 27 countries (from 2020),62.6,s,64,s,64.2,s,65.2,NaN,65.4,...,67.6,NaN,67.5,NaN,65.6,NaN,64.6,NaN,64,s
10,Euro area – 20 countries (from 2023),:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
11,Euro area - 19 countries (2015-2022),:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,NaN,:,NaN,:,NaN,:,NaN,:,NaN
12,Belgium,79.1,NaN,79.8,NaN,80.2,NaN,80.3,NaN,78.7,...,81.9,NaN,83.8,NaN,85.3,NaN,83.5,NaN,79.7,NaN
13,Bulgaria,45.9,NaN,61.6,NaN,65.1,NaN,66.5,NaN,65.7,...,63.8,NaN,65.6,NaN,60.4,NaN,61.2,NaN,:,NaN

In [8]:
df_packaging.dropna(axis=1, how='all')

,TIME,2009,NaN,2010,NaN,2011,NaN,2012,NaN,2013,...,2015,2016,2017,NaN,2018,NaN,2019,NaN,2020,NaN
9,European Union - 27 countries (from 2020),62.6,s,64,s,64.2,s,65.2,NaN,65.4,...,66.6,67.6,67.5,NaN,65.6,NaN,64.6,NaN,64,s
10,Euro area – 20 countries (from 2023),:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,:,:,NaN,:,NaN,:,NaN,:,NaN
11,Euro area - 19 countries (2015-2022),:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,:,:,NaN,:,NaN,:,NaN,:,NaN
12,Belgium,79.1,NaN,79.8,NaN,80.2,NaN,80.3,NaN,78.7,...,81.5,81.9,83.8,NaN,85.3,NaN,83.5,NaN,79.7,NaN
13,Bulgaria,45.9,NaN,61.6,NaN,65.1,NaN,66.5,NaN,65.7,...,64.1,63.8,65.6,NaN,60.4,NaN,61.2,NaN,:,NaN
14,Czechia,68.8,NaN,70,NaN,69.7,NaN,69.9,NaN,69.9,...,74.3,75.3,72.3,NaN,69.6,NaN,71.2,NaN,67.9,NaN
15,Denmark,84,NaN,84,e,54.3,be,61.6,e,69.8,...,73.9,79,71.5,NaN,70.1,NaN,70.4,NaN,64,NaN
16,Germany (until 1990 former territory of the FRG),73.5,NaN,72.7,NaN,71.8,NaN,71.3,NaN,71.8,...,69.3,70.7,69.9,NaN,68.5,NaN,63.2,b,68.1,NaN
17,Estonia,57.2,NaN,56.1,NaN,62.9,NaN,61.3,NaN,58.4,...,59,56,53.5,NaN,60.4,NaN,66.2,b,71.4,NaN
18,Ireland,64.9,NaN,66.2,NaN,70.9,NaN,74,NaN,70.2,...,67.5,67,65.6,NaN,63.9,NaN,62.5,NaN,62.4,NaN
19,Greece,52.3,NaN,58.7,NaN,62.1,e,58.6,NaN,52.4,...,60.3,66.1,68.6,NaN,63.6,e,60.1,e,:,NaN
20,Spain,60.3,NaN,61.9,NaN,63.9,NaN,65.5,NaN,66.6,...,68.4,70.3,68.5,NaN,68.8,NaN,69.6,NaN,68.3,NaN
21,France,56.4,NaN,61.1,NaN,61.3,NaN,64.9,NaN,66.4,...,65.5,66,68.1,NaN,63.5,NaN,65.6,NaN,60.3,NaN
22,Croatia,:,NaN,:,NaN,:,NaN,59.7,NaN,58.8,...,60.1,54.7,53.3,NaN,58.4,NaN,48.9,NaN,54.2,NaN
23,Italy,64,NaN,64.4,NaN,64.5,NaN,66.6,NaN,66.7,...,66.8,66.9,67.1,NaN,68.3,NaN,69.6,NaN,72.8,NaN
24,Cyprus,42.2,NaN,50,NaN,52,NaN,55.3,e,56.6,...,59.8,64.6,66.2,NaN,70.2,NaN,66.8,NaN,59.9,NaN
25,Latvia,44.9,NaN,48.9,NaN,50.9,NaN,51.1,NaN,51,...,53.9,57.7,58.7,NaN,55.8,NaN,62.4,NaN,61.4,NaN
26,Lithuania,57.7,NaN,60.4,NaN,62.2,NaN,62.2,NaN,53.5,...,59.8,69.5,61.8,NaN,60.7,NaN,61.9,NaN,61.8,b
27,Luxembourg,61,NaN,66,NaN,66,NaN,62.5,NaN,62.8,...,70,70.3,69.7,NaN,70.9,NaN,71.5,NaN,71.9,NaN
28,Hungary,51.1,NaN,58.7,NaN,59.3,NaN,48.5,NaN,49.2,...,50.1,49.7,49.7,NaN,46.1,NaN,47,NaN,52.4,NaN
29,Malta,36,NaN,28.5,NaN,42.3,NaN,46.6,NaN,38.1,...,37.1,39.7,35.6,NaN,35.7,NaN,33.7,NaN,40,NaN
30,Netherlands,74.9,NaN,73.9,NaN,71.9,NaN,69.3,NaN,70.4,...,71.7,72.6,78.1,NaN,79.4,NaN,80.7,NaN,76.5,NaN
31,Austria,66.9,NaN,66.6,NaN,65.8,NaN,65.9,NaN,66.6,...,67.1,66.8,65.6,NaN,65.5,NaN,65.4,NaN,63.7,NaN
32,Poland,36.8,NaN,38.9,NaN,41.2,NaN,41.4,NaN,36.1,...,57.6,58,56.7,NaN,58.7,NaN,55.5,NaN,:,NaN
33,Portugal,59.9,NaN,55.5,NaN,58.4,NaN,56.9,NaN,61.5,...,57.1,60.9,55.3,b,57.9,NaN,62.8,NaN,59.5,NaN
34,Romania,40.5,NaN,43.4,NaN,50,NaN,56.8,NaN,52.8,...,55.9,60.4,60.4,NaN,57.9,NaN,44.6,b,39.9,NaN
35,Slovenia,49.6,NaN,61,NaN,63.6,NaN,66.9,NaN,69,...,67,69.4,70.1,NaN,68,NaN,67.1,NaN,67.9,NaN
36,Slovakia,59.9,NaN,45.7,NaN,62.4,NaN,68.1,NaN,65.9,...,64.3,65.8,65.7,NaN,66.6,NaN,67.5,NaN,70.8,NaN
37,Finland,55.5,NaN,55.4,NaN,58.7,NaN,59.3,NaN,58,...,60.9,64.7,65.2,NaN,70.2,NaN,70.6,NaN,73.2,NaN
38,Sweden,58.9,NaN,69.2,NaN,71.5,NaN,69.6,NaN,71.9,...,71.8,68.2,71.7,NaN,65,NaN,63.6,NaN,60.9,NaN
39,Iceland,:,NaN,33.9,NaN,44,NaN,40.7,NaN,42.9,...,47.4,47.2,44.4,NaN,51.2,NaN,46.3,NaN,57,NaN
40,Liechtenstein,50,NaN,45.9,NaN,48.7,NaN,44.3,NaN,50.3,...,66.1,65.8,66.7,NaN,68,NaN,70,NaN,72.1,NaN
41,Norway,53.1,NaN,56.7,NaN,57.5,NaN,55.9,NaN,54.5,...,55.1,56.3,54.5,NaN,52.9,NaN,53.9,NaN,52.5,NaN
42,Switzerland,:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,:,:,NaN,:,NaN,:,NaN,:,NaN
43,United Kingdom,61.8,NaN,60.7,NaN,60.8,NaN,61.4,NaN,64.6,...,60.6,64.7,63.9,NaN,62.1,NaN,:,NaN,:,NaN
44,Montenegro,:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,:,:,NaN,:,NaN,:,NaN,:,NaN
45,North Macedonia,:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,:,:,NaN,:,NaN,:,NaN,:,NaN
46,Albania,:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,:,:,NaN,:,NaN,:,NaN,:,NaN
47,Serbia,:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,:,:,NaN,:,NaN,:,NaN,:,NaN
48,Türkiye,:,NaN,:,NaN,:,NaN,:,NaN,:,...,:,:,:,NaN,:,NaN,:,NaN,:,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Special value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,:,not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Available flags:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,be,"break in time series, estimated",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,b,break in time series,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,e,estimated,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,s,Eurostat estimate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_packaging.columns

Index(['TIME', '2009',    nan, '2010',    nan, '2011',    nan, '2012',    nan,
       '2013',    nan, '2014',    nan, '2015',    nan, '2016',    nan, '2017',
          nan, '2018',    nan, '2019',    nan, '2020',    nan],
      dtype='object')

In [10]:
df_MA_22 = pd.read_excel('datasets/Modelo_Residuos_2022.xlsx')
df_MA_22

,Año,Mes,Lote,Fracción,Distrito,NOMBRE,Total
0,2022,enero,1,PAPEL-CARTON,1,Centro,395.860
1,2022,enero,1,PAPEL-CARTON,6,Tetuán,381.980
2,2022,enero,1,PAPEL-CARTON,7,Chamberí,312.760
3,2022,enero,1,PAPEL-CARTON,8,Fuencarral - El Pardo,692.250
4,2022,enero,1,PAPEL-CARTON,9,Moncloa - Aravaca,300.380
...,...,...,...,...,...,...,...
2189,2022,diciembre,3,ROPA,11,Carabanchel,1.335
2190,2022,diciembre,3,ROPA,12,Usera,3.895
2191,2022,diciembre,3,ROPA,13,Puente de Vallecas,2.965
2192,2022,diciembre,3,ROPA,17,Villaverde,2.015
2193,2022,diciembre,3,ROPA,18,Villa de Vallecas,1.410

In [11]:
df_MA_22['NOMBRE'].unique()

array(['Centro', 'Tetuán', 'Chamberí', 'Fuencarral - El Pardo',
       'Moncloa - Aravaca', 'Latina', 'Retiro', 'Salamanca', 'Chamartín',
       'Moratalaz', 'Ciudad Lineal', 'Hortaleza', 'Vicálvaro',
       'San Blas - Canillejas', 'Barajas', 'Arganzuela', 'Carabanchel',
       'Usera', 'Puente de Vallecas', 'Villaverde', 'Villa de Vallecas',
       'Sin Distrito'], dtype=object)

In [12]:
df_MA_22['NOMBRE'].value_counts()['Sin Distrito']

19

In [13]:
df_MA_22['NOMBRE'].value_counts()

NOMBRE
Moncloa - Aravaca        127
Puente de Vallecas       118
Fuencarral - El Pardo    112
Latina                   112
Centro                   110
Retiro                   110
Salamanca                110
Ciudad Lineal            110
Usera                    109
Tetuán                   100
Moratalaz                100
Hortaleza                 99
Vicálvaro                 98
San Blas - Canillejas     98
Barajas                   98
Arganzuela                98
Chamartín                 98
Villaverde                98
Carabanchel               97
Villa de Vallecas         87
Chamberí                  86
Sin Distrito              19
Name: count, dtype: int64

In [14]:
df_MA_22['Fracción'].unique()

array(['PAPEL-CARTON', 'CARTON COMERCIAL', 'CAMA DE CABALLO', 'CLINICOS',
       'ENVASES', 'ORGANICA', 'PUNTOS LIMPIOS', 'RCD', 'RESTO', 'VIDRIO',
       'VIDRIO COMERCIAL', 'CONTENEDORES DE ROPA', 'ANIMALES MUERTOS',
       'PILAS', 'ROPA'], dtype=object)

In [23]:
from datetime import datetime
import time

now = datetime.now()
time.sleep(3)
luego = datetime.now()
luego-now

datetime.timedelta(seconds=3, microseconds=2741)

In [28]:
df_MA_22.loc[(df_madrid_residuos_2022['Fracción'] != 'ANIMALES MUERTOS') & (df_MA_22['Fracción'] != 'CLINICOS')] & (df_MA_22['Fracción'] != 'CAMA DE CABALLO')]

,Año,Mes,Lote,Fracción,Distrito,NOMBRE,Total
0,2022,enero,1,PAPEL-CARTON,1,Centro,395.860
1,2022,enero,1,PAPEL-CARTON,6,Tetuán,381.980
2,2022,enero,1,PAPEL-CARTON,7,Chamberí,312.760
3,2022,enero,1,PAPEL-CARTON,8,Fuencarral - El Pardo,692.250
4,2022,enero,1,PAPEL-CARTON,9,Moncloa - Aravaca,300.380
...,...,...,...,...,...,...,...
2189,2022,diciembre,3,ROPA,11,Carabanchel,1.335
2190,2022,diciembre,3,ROPA,12,Usera,3.895
2191,2022,diciembre,3,ROPA,13,Puente de Vallecas,2.965
2192,2022,diciembre,3,ROPA,17,Villaverde,2.015
2193,2022,diciembre,3,ROPA,18,Villa de Vallecas,1.410

In [65]:
df_madrid_residuos_2021 = pd.read_excel('Modelo_Residuos_2021.xlsx')
df_madrid_residuos_2021

,Año,Mes,Lote,Residuo,Distrito,Nombre Distrito,Toneladas
0,2021,enero,1,RESTO,1,Centro,3477.92
1,2021,enero,1,RESTO,6,Tetuán,2701.32
2,2021,enero,1,RESTO,7,Chamberí,2403.34
3,2021,enero,1,RESTO,8,Fuencarral - El Pardo,4017.66
4,2021,enero,1,RESTO,9,Moncloa - Aravaca,2873.78
...,...,...,...,...,...,...,...
2133,2021,diciembre,3,PUNTOS LIMPIOS,13,Puente de Vallecas,23.80
2134,2021,diciembre,3,PUNTOS LIMPIOS,17,Villaverde,37.66
2135,2021,diciembre,3,PUNTOS LIMPIOS,18,Villa de Vallecas,63.66
2136,2021,diciembre,3,ANIMALES MUERTOS,99,Sin Distrito,8.62
2137,2021,diciembre,3,PILAS,99,Sin Distrito,6.48

In [61]:
df_madrid_residuos_2020 = pd.read_excel('Modelo_Residuos_2020.xlsx')
df_madrid_residuos_2020

,LOTE,DISTRITO,FRACCIÓN,ENERO '20(TN),FEBRERO '20(TN),MARZO '20(TN),ABRIL '20(TN),MAYO '20(TN),JUNIO'20(TN),JULIO'20(TN),AGOSTO'20(TN),SEPTIEMBRE'20(TN),OCTUBRE'20(TN),NOVIEMBRE'20(TN),DICIEMBRE'20(TN)
0,1,01. CENTRO,RESTO,6023.78,5831.06,4172.66,2488.66,2956.40,3500.46,3749.66,3037.50,3301.84,3276.00,3315.74,3630.82
1,1,01. CENTRO,ENVASES,235.84,231.92,206.44,173.14,217.78,216.44,198.64,167.38,220.90,226.86,213.76,224.86
2,1,01. CENTRO,VIDRIO,723.82,712.72,428.52,293.62,318.08,405.82,384.68,319.08,431.96,448.00,469.60,637.66
3,1,01. CENTRO,CLINICOS,176.02,181.50,245.84,587.70,645.86,535.54,161.96,123.00,151.50,164.34,150.18,152.42
4,1,01. CENTRO,ORGÁNICA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,424.52,539.64,578.50,659.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,3,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,sin lote,99. SIN DISTRITO,Papel Incautado Policía,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.89,0.00,1.79,0.00
134,sin lote,99. SIN DISTRITO,Cartón limpieza viaria,98.00,82.90,47.83,20.56,43.79,62.83,42.19,29.02,52.11,59.67,42.25,0.00

In [62]:
df_madrid_residuos_2019 = pd.read_excel('Modelo_Residuos_2019.xlsx')
df_madrid_residuos_2019

,LOTE,DISTRITO,FRACCIÓN,ENERO '19(TN),FEBRERO '19(TN),MARZO '19(TN),ABRIL '19(TN),MAYO '19(TN),JUNIO'19(TN),JULIO'19(TN),AGOSTO'19(TN),SEPTIEMBRE'19(TN),OCTUBRE'19(TN),NOVIEMBRE'19(TN),DICIEMBRE'19(TN)
0,1,01. CENTRO,RESTO,6099.24,5643.16,6358.28,5923.36,6361.46,6244.32,5935.02,4864.96,5831.70,6375.50,6133.30,6593.32
1,1,01. CENTRO,ENVASES,201.66,191.92,219.30,205.92,225.40,222.86,205.70,177.78,225.74,238.30,229.12,238.16
2,1,01. CENTRO,VIDRIO,668.56,612.76,706.20,669.12,716.72,684.26,602.40,474.56,665.64,751.24,745.36,858.58
3,1,01. CENTRO,CLINICOS,139.10,152.88,173.58,170.48,165.50,160.88,157.64,122.64,153.26,182.52,171.12,154.98
4,1,01. CENTRO,ORGÁNICA,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,3,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,23.53,3.21,1.45,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
126,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,sin lote,99. SIN DISTRITO,Papel Incautado Policía,7.42,0.21,5.91,7.28,0.60,1.11,0.00,0.00,0.00,0.00,0.00,0.00
129,sin lote,99. SIN DISTRITO,Cartón limpieza viaria,95.80,99.54,101.94,96.54,109.44,115.64,80.45,58.11,87.78,88.93,63.42,87.21

In [63]:
df_madrid_residuos_2018 = pd.read_excel('Modelo_Residuos_2018.xlsx')
df_madrid_residuos_2018

,LOTE,DISTRITO,FRACCIÓN,ENERO '18(TN),FEBRERO '18(TN),MARZO '18(TN),ABRIL '18(TN),MAYO '18(TN),JUNIO'18(TN),JULIO'18(TN),AGOSTO'18(TN),SEPTIEMBRE'18(TN),OCTUBRE'18(TN),NOVIEMBRE'18(TN),DICIEMBRE'18(TN)
0,1,01. CENTRO,RESTO,6248.640,5722.500,6376.180,6334.00,6544.600,6359.240,6034.72,4908.30,5978.580,6511.400,6202.12,6753.440
1,1,01. CENTRO,ENVASES,159.280,152.580,169.940,178.52,186.440,186.740,176.24,147.08,185.040,198.700,191.04,198.700
2,1,01. CENTRO,VIDRIO,606.840,540.620,582.820,627.06,654.420,620.380,536.80,426.08,573.560,701.280,690.86,783.460
3,1,01. CENTRO,CLINICOS,130.760,128.920,135.460,134.82,130.500,132.220,119.66,97.98,117.560,146.040,141.40,126.460
4,1,01. CENTRO,ORGÁNICA,0.000,0.000,0.000,0.00,0.000,0.000,0.00,0.00,0.000,0.000,0.00,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,2,99. SIN DISTRITO,CONTENEDORES ROPA USADA,0.360,1.260,0.900,0.18,0.720,1.080,1.08,1.08,0.900,0.540,0.54,0.360
122,3,99. SIN DISTRITO,CONTENEDORES ROPA USADA,0.360,0.180,0.360,0.00,0.900,0.540,0.18,0.18,0.180,0.720,0.72,0.180
123,1,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,30.235,48.515,53.105,53.25,49.795,52.095,60.37,59.09,51.385,65.015,55.53,49.915
124,2,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,0.000,0.000,0.000,0.00,0.000,0.000,0.00,0.00,0.000,0.000,0.00,0.000
125,3,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,0.000,0.000,0.000,0.00,0.000,0.000,0.00,0.00,0.000,0.000,0.00,0.000

In [64]:
df_madrid_residuos_2017 = pd.read_excel('Modelo_Residuos_2017.xlsx')
df_madrid_residuos_2017

,LOTE,DISTRITO,FRACCIÓN,ENERO '17(TN),FEBRERO '17(TN),MARZO '17(TN),ABRIL '17(TN),MAYO '17(TN),JUNIO'17(TN),JULIO'17(TN),AGOSTO'17(TN),SEPTIEMBRE'17(TN),OCTUBRE'17(TN),NOVIEMBRE'17(TN),DICIEMBRE'17(TN)
0,1,01. CENTRO,RESTO,5995.86,5562.30,6129.58,5975.840,6500.54,6422.16,6027.780,5037.440,6013.96,6488.28,6163.420,6723.46
1,1,01. CENTRO,ENVASES,138.06,130.56,142.44,135.640,144.06,142.40,132.140,111.980,139.84,156.02,156.160,157.30
2,1,01. CENTRO,VIDRIO,503.50,448.42,514.22,510.960,603.84,520.86,473.040,347.940,490.76,616.02,624.400,726.16
3,1,01. CENTRO,CLINICOS,127.48,127.20,145.26,118.900,130.94,127.72,111.880,99.340,121.98,131.52,134.440,120.66
4,1,01. CENTRO,ORGÁNICA,0.00,0.00,0.00,0.000,0.00,0.00,0.000,0.000,0.00,0.00,0.000,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,1,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,56.43,52.53,42.86,40.119,43.50,48.96,39.205,45.875,38.37,35.42,36.085,28.76
124,2,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,0.00,0.00,0.00,0.000,0.00,0.00,0.000,0.000,0.00,0.00,0.000,0.00
125,3,99. SIN DISTRITO,RESIDUOS DEPOSITADOS MIGAS CALIENTES,0.00,0.00,0.00,0.000,0.00,9.61,0.000,0.000,0.00,0.00,0.000,0.00
126,sin lote,99. SIN DISTRITO,Papel Incautado Policía,9.22,36.52,36.13,22.380,25.33,12.62,10.290,2.140,19.90,15.59,18.820,14.44
127,sin lote,99. SIN DISTRITO,Cartón limpieza viaria,51.94,42.43,58.31,40.140,70.90,66.49,60.250,43.820,61.93,56.10,59.090,38.50